force-app/main/default/flows/DIR_Task_After_Create_Update_Email_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Email_Reminder</name>
        <label>Set Email Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Owner:User.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>syed.ashraf@globant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Task Due – {!$Record.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hello {!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;This is a reminder that your task is due:&lt;/p&gt;&lt;strong&gt;Task:&lt;/strong&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!RelatedRecordLink}&lt;/span&gt;&lt;br&gt;&lt;strong&gt;Due Date:&lt;/strong&gt; {!$Record.ActivityDate}&lt;/br&gt;&lt;br&gt;&lt;strong&gt;Related To:&lt;/strong&gt; {!RelatedRecordName}&lt;/br&gt;&lt;br&gt;&lt;strong&gt;Priority:&lt;/strong&gt; {!$Record.Priority}&lt;/br&gt;&lt;br&gt;&lt;strong&gt;Task Owner:&lt;/strong&gt; {!$Record.Owner:User.FirstName}  {!$Record.Owner:User.LastName}&lt;/br&gt;&lt;p&gt;Please complete it as soon as possible or update the status accordingly.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_AccountRelatedRecordName</name>
        <label>Set AccountRelatedRecordName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedRecordLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;a href=&quot;{!OrgBaseUrl}lightning/r/Task/{!$Record.Id}/view&quot;&gt;{!$Record.Subject}&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Email_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactRelatedRecordName</name>
        <label>Set ContactRelatedRecordName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedRecordLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;a href=&quot;{!OrgBaseUrl}lightning/r/Task/{!$Record.Id}/view&quot;&gt;{!$Record.Subject}&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Email_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LeadRelatedRecordName</name>
        <label>Set LeadRelatedRecordName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedRecordLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;a href=&quot;{!OrgBaseUrl}lightning/r/Task/{!$Record.Id}/view&quot;&gt;{!$Record.Subject}&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Email_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityRelatedRecordName</name>
        <label>Set OpportunityRelatedRecordName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedRecordLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;a href=&quot;{!OrgBaseUrl}lightning/r/Task/{!$Record.Id}/view&quot;&gt;{!$Record.Subject}&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Email_Reminder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_WhatId_Type</name>
        <label>Check WhatId Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>Is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Is Account</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
        <rules>
            <name>Is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
    </decisions>
    <description>Email body modified</description>
    <environments>Default</environments>
    <formulas>
        <name>OrgBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_370}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_370}))</expression>
    </formulas>
    <interviewLabel>DIR Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DIR Task - After Create Update - Email Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_AccountRelatedRecordName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ContactRelatedRecordName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_LeadRelatedRecordName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OpportunityRelatedRecordName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsReminderSet</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReminderDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Task_Due_Date</name>
            <connector>
                <targetReference>Check_WhatId_Type</targetReference>
            </connector>
            <label>Task Due Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ReminderDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TaskReminderTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;p&amp;gt;Hello {!$Record.Owner:User.FirstName} &amp;lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&amp;gt;{!$Record.Owner:User.LastName}&amp;lt;/span&amp;gt;,&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;This is a reminder that your task is due:&amp;lt;/p&amp;gt;&amp;lt;strong&amp;gt;Task:&amp;lt;/strong&amp;gt; &amp;lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&amp;gt;{!RelatedRecordLink}&amp;lt;/span&amp;gt;&amp;lt;br&amp;gt;&amp;lt;strong&amp;gt;Due Date:&amp;lt;/strong&amp;gt; {!$Record.ActivityDate}&amp;lt;/br&amp;gt;&amp;lt;br&amp;gt;&amp;lt;strong&amp;gt;Related To:&amp;lt;/strong&amp;gt; {!RelatedRecordName}&amp;lt;/br&amp;gt;&amp;lt;p&amp;gt;Please complete it as soon as possible or update the status accordingly.&amp;lt;/p&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecipientUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecordLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
