force-app/main/default/flows/RES_Lead_Delegation_Of_Assignment_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Submitter_s_Role_is_Operations</name>
        <label>Submitter&apos;s Role is Operations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOperationInitiatedApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage_Sales_Operation_Initiate_Reassignment</targetReference>
            </connector>
            <label>Operations</label>
        </rules>
        <rules>
            <name>Sales_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSalesManagersInitiatedApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Manager_Initiated_Reassignment</targetReference>
            </connector>
            <label>Sales manager</label>
        </rules>
        <rules>
            <name>Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDirectorInitiatedApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Director_Initiated</targetReference>
            </connector>
            <label>Director</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsDirectorInitiatedApproval</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_DI_DII_Senior_Director&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Excellence_Associate_Director&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Excellence_Senior_Director&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_External_Senior_Director&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Operations_Executive_Director&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Wadi_Safar_Senior_Director&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Treasury_Executive_Director&quot;
)</expression>
    </formulas>
    <formulas>
        <name>IsOperationInitiatedApproval</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Contract_Amendments_Operations_Specialist&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_External_Sales_Operations_Operations_Senior_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_External_Sales_Operations_Operations_Specialist&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Internal_Sales_Contracts_Operations_Senior_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Internal_Sales_Operations_Operations_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Internal_Sales_Operations_Operations_Specialist&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Operational_Excellence_Operations_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Operational_Excellence_Operations_Specialist&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Operations_Executive_Director&quot;
)</expression>
    </formulas>
    <formulas>
        <name>IsSalesManagersInitiatedApproval</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Compliance_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_DII_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_DI_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_DI_Relationship_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_DI_Senior_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_External_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_External_Relationship_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Planning_Senior_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Wadi_Safar_Manager&quot;,
    {!$Record.LastModifiedBy.UserRole.DeveloperName} = &quot;RES_Sales_Wadi_Safar_Senior_Manager&quot;
)</expression>
    </formulas>
    <interviewLabel>Lead - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Delegation Of Assignment - Approval Flow</label>
    <orchestratedStages>
        <name>Approval_Stage_Sales_Operation_Initiate_Reassignment</name>
        <label>Approval Stage: Sales Operation Initiate Reassignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_Sent_to_Sales_Manager</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>RES_Sales_Manager</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Approval Sent to Sales Manager</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Approval_Sent_to_Sales_Director</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>RES_Sales_Director</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Approval_Sent_to_Sales_Manager.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Approval Sent to Sales Director</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Approval_Sent_to_CSO</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>RES_CSO</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Approval_Sent_to_Sales_Director.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Approval Sent to CSO</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Record_Has_been_Approved</name>
            <actionName>RES_Autolaunched_Flow_Update_lead_Owner_to_Proposed_Owner</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Approval_Sent_to_CSO.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>LeadRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>UpdateRecord</stringValue>
                </value>
            </inputParameters>
            <label>Record Has been Approved</label>
            <outputConfigParams>
                <name>FaultMessage</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Recall_Stage</name>
        <label>Recall Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>If_Record_is_Recalled</name>
            <actionName>RES_Autolaunched_Flow_Update_lead_Owner_to_Proposed_Owner</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>LeadRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Recall</stringValue>
                </value>
            </inputParameters>
            <label>If Record is Recalled</label>
            <outputConfigParams>
                <name>FaultMessage</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Sales_Director_Initiated</name>
        <label>Sales Director Initiated Reassignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_Sent_to_CSO2</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>RES_CSO</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Approval Sent to CSO</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Record_Has_been_Approved2</name>
            <actionName>RES_Autolaunched_Flow_Update_lead_Owner_to_Proposed_Owner</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Approval_Sent_to_CSO2.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>LeadRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>UpdateRecord</stringValue>
                </value>
            </inputParameters>
            <label>Record Has been Approved</label>
            <outputConfigParams>
                <name>FaultMessage</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Sales_Manager_Initiated_Reassignment</name>
        <label>Sales Manager Initiated Reassignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Approval_Sent_to_Sales_Director1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>RES_Sales_Director</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Approval Sent to Sales Director</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Approval_Sent_to_CSO1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>RES_CSO</stringValue>
                </assignee>
                <assigneeType>Queue</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Approval_Sent_to_Sales_Director1.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Approval Sent to CSO</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Record_Has_been_Approved1</name>
            <actionName>RES_Autolaunched_Flow_Update_lead_Owner_to_Proposed_Owner</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Approval_Sent_to_CSO1.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>LeadRecord</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>UpdateRecord</stringValue>
                </value>
            </inputParameters>
            <label>Record Has been Approved</label>
            <outputConfigParams>
                <name>FaultMessage</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submitter_s_Role_is_Operations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RES_Proposed_User__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RES_Proposed_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Recall_Stage</targetReference>
            </connector>
            <pathType>ApprovalRecall</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
