force-app/main/default/flows/RES_Lead_After_Create_Update_Lead_SLA_management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Next_Owner_and_Update_Lead</name>
        <label>Assign Next Owner and Update Lead</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>RES_LeadServices</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentOwnerId</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>previousOwnerId</name>
            <value>
                <elementReference>previousOwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RES_LeadServices</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Auto_Create_Task_on_Lead_Conversion</name>
        <label>Auto-Create Task on Lead Conversion</label>
        <locationX>50</locationX>
        <locationY>1248</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow Up – Lead Converted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DIR_Due_Date_Required__c</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Instance</name>
        <label>Assign Instance</label>
        <locationX>1238</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>leadInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadInstance.RES_SLA_Breach_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadInstance.RES_SLA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Breached</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLA_breached</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Lead_is_Converted</name>
        <label>Check if Lead is Converted</label>
        <locationX>182</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Converted_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsConverted</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Update_Opportunity_Address_Fields</targetReference>
            </connector>
            <label>Converted Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_required_Conditions</name>
        <label>Check required Conditions</label>
        <locationX>1766</locationX>
        <locationY>432</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Previous_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RES_Previous_Lead_Owner__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Owner_and_Update_Lead</targetReference>
            </connector>
            <label>Check Previous Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Due</name>
        <label>if DUE Date Is Null</label>
        <locationX>1040</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Assign_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RES_SLA_Due_Time__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Lead_Routing_Records_Avaialable</name>
        <label>If Lead Routing Records Avaialable</label>
        <locationX>226</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Routing_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Lead_Routing_record</targetReference>
            </connector>
            <label>Yes available</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Manager_Exist</name>
        <label>If Manager Exist</label>
        <locationX>1238</locationX>
        <locationY>756</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owners_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_User_s_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Next_Reassignment_Date_is_Not_Null</name>
        <label>If Next Reassignment Date is Not Null</label>
        <locationX>1964</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RES_Next_Assignment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_required_Conditions</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_has_Changed</name>
        <label>If Status has Changed</label>
        <locationX>380</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Has_Changed_to_Qualified_Retired_Archive</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Routing_Records</targetReference>
            </connector>
            <label>Status Has Changed to ( Qualified, Retired, Archive)</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</name>
        <label>Check Flow Switch and RES Lead Record Types</label>
        <locationX>380</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RES_Config_Switch__c.RES_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Lead_is_Converted</targetReference>
            </connector>
            <label>Present?</label>
        </rules>
    </decisions>
    <description>Lead SLA management, Task Creation after lead Convert</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName}  &amp; &apos; &apos; &amp; {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Lead After Create Update - Lead SLA management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Create Update - Lead SLA management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Lead_Routing_record</name>
        <label>Delete Lead Routing record</label>
        <locationX>94</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RES_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>RES_Lead_Routing__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Lead_Routing_Records</name>
        <label>Get Lead Routing Records</label>
        <locationX>226</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Lead_Routing_Records_Avaialable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RES_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RES_Lead_Routing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owners_Manager</name>
        <label>Get Owners Manager</label>
        <locationX>1238</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Manager_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Username</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RES_Update_Opportunity_Address_Fields</name>
        <label>Update Opportunity Address Fields</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Auto_Create_Task_on_Lead_Conversion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DIR_Country__c</field>
            <value>
                <elementReference>$Record.DIR_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RES_City__c</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RES_Opportunity_Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RES_Opportunity_Mobile__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RES_State_Province__c</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RES_Street__c</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RES_Zip_Postal_Code__c</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>SLA_breached</name>
        <label>SLA breached</label>
        <locationX>1238</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Get_Owners_Manager</targetReference>
        </connector>
        <inputReference>leadInstance</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>If_Status_has_Changed</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Mark_Lead_s_SLA_as_breached</name>
            <connector>
                <targetReference>if_Due</targetReference>
            </connector>
            <label>Mark Lead&apos;s SLA as breached</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>RES_SLA_Due_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>If_next_Reassigned_Date_is_Not_Null</name>
            <connector>
                <targetReference>If_Next_Reassignment_Date_is_Not_Null</targetReference>
            </connector>
            <label>If next Reassigned Date is Not Null</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>RES_Next_Assignment_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_User_s_Manager</name>
        <label>Notify User&apos;s Manager</label>
        <locationX>1106</locationX>
        <locationY>864</locationY>
        <flowName>RES_AutoLaunchFlow_Notify_User_s_Manager</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LeadName</name>
            <value>
                <elementReference>LeadName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LeadRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationType</name>
            <value>
                <stringValue>SLABreachNotification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ownerName</name>
            <value>
                <elementReference>OwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userRecords</name>
            <value>
                <elementReference>Get_Owners_Manager</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>leadInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.LastName</elementReference>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>previousOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.RES_Previous_Lead_Owner__c</elementReference>
        </value>
    </variables>
</Flow>
