force-app/main/default/flows/RES_Send_Email_Notification_After_Opportunity_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Role_ID_to_Collection</name>
        <label>Assign Role ID to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colRoleIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Roles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Recipients_Found</name>
        <label>Are Recipients Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_User_s_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Roles_Found</name>
        <label>Are Roles Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Roles_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colRoleIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Recipients</targetReference>
            </connector>
            <label>Yes, Roles Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Config_Flag_Record_Type_Check</name>
        <label>Flow Config Flag &amp; Record Type Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_Off_Unchecked</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.RES_Config_Switch__c.RES_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES Residential Single Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES Residential Multi Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Operations_Roles</targetReference>
            </connector>
            <label>Flow Off Unchecked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ownerNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.FirstName} &amp; &quot; &quot;&amp; {!$Record.Owner.LastName}</expression>
    </formulas>
    <interviewLabel>RES Send Email/Notification After Opportunity Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RES Send Email/Notification After Opportunity Won</label>
    <loops>
        <name>Loop_Roles</name>
        <label>Loop Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Operations_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Role_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Roles_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Recipients</name>
        <label>Get All Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Recipients_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.ManagerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>colRoleIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operations_Roles</name>
        <label>Get Operations Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Roles</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Sales_Operations_Executive_Director</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Contract_Amendments_Operations_Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_External_Sales_Operations_Operations_Senior_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_External_Sales_Operations_Operations_Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Internal_Sales_Contracts_Operations_Senior_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Internal_Sales_Operations_Operations_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Internal_Sales_Operations_Operations_Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Operational_Excellence_Operations_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Operational_Excellence_Operations_Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Name</name>
        <label>Get Record Type Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Config_Flag_Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Name</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_User_s_Manager</name>
        <label>Notify User&apos;s Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>RES_AutoLaunchFlow_Notify_User_s_Manager</flowName>
        <inputAssignments>
            <name>NotificationType</name>
            <value>
                <stringValue>OpportunityWonNotification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ownerName</name>
            <value>
                <elementReference>ownerNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userRecords</name>
            <value>
                <elementReference>Get_All_Recipients</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colRoleIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colUserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>managerID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
