force-app/main/default/flows/RES_AutoLaunchFlow_Notify_User_s_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Manager</name>
        <label>Send Email To Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Emails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>syed.ashraf@globant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead SLA Breach: Requires Immediate Attention</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SLABreachTemplate</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_Won_Notification</name>
        <label>Send Opportunity Won Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Opportunity_Won_Notification_To_Maneger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>🎉 Closed Won — {!opportunityRecord.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>oppWonNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_Won_Notification_To_Maneger</name>
        <label>Send Opportunity Won Notification To Maneger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Emails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>syed.ashraf@globant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>🎉 Opportunity Closed Won — {!opportunityRecord.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>oppEmailBody</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_User_Email_In_Collection</name>
        <label>Add User Email In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Notification_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Notification_Type</name>
        <label>Check Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_Breach_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLABreachNotification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Manager</targetReference>
            </connector>
            <label>SLA Breach Notification</label>
        </rules>
        <rules>
            <name>Opportunity_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OpportunityWonNotification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Opportunity Closed Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})-1)  &amp; &quot;/lightning/r/Lead/&quot; &amp;  {!LeadRecord.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>oppLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})-1)  &amp; &quot;/lightning/r/Opportunity/&quot; &amp;  {!opportunityRecord.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>oppWonNotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;opportunityRecord.Owner.Name&quot;  &amp; &quot;has closed&quot; &amp; &quot;opportunityRecord.Name&quot; &amp; &quot;worth&quot; &amp; &quot;opportunityRecord.Amount.&quot; &amp; &quot;Please review.&quot;</expression>
    </formulas>
    <interviewLabel>RES AutoLaunchFlow - Notify User&apos;s Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RES AutoLaunchFlow - Notify User&apos;s Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Opportunity_Won_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Opportunity_Won_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_User_Email_In_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>closedWonOppBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!User.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lead &quot;{!opportunityRecord.Name}&quot; has exceeded the SLA response time of 24 hours.&lt;/p&gt;&lt;p&gt;Lead Details:&lt;/p&gt;&lt;p&gt;- Owner: {!&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;opportunityRecord&lt;/span&gt;.Owner:User.Name}&lt;/p&gt;&lt;p&gt;- Created On: {!&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;opportunityRecord&lt;/span&gt;.CreatedDate}&lt;/p&gt;&lt;p&gt;- Lead:&amp;nbsp;{!LeadLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please take immediate action to follow up.&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Sales Operations&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>oppEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!User.Name},

Congratulations! The following Opportunity has been marked as Closed Won.
Opportunity Details:
- Opportunity Name : {!opportunityRecord.Name}
- Owner       : {!opportunityRecord.Owner.Name}
- Amount      : {!opportunityRecord.Amount}
- Close Date    : {!opportunityRecord.CloseDate}
- Account Name   : {!opportunityRecord.Account.Name}
- Stage       : {!opportunityRecord.StageName}
- Opportunity Link : {!oppLink}

Please log in to Salesforce to review and take any necessary follow-up actions.
Thanks,
Sales Operations</text>
    </textTemplates>
    <textTemplates>
        <name>SLABreachTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!User.Name},

Lead &quot;{!LeadRecord.Name}&quot; has exceeded the SLA response time of 24 hours.
Lead Details:
- Owner: {!LeadRecord.Owner:User.Name}
- Created On: {!LeadRecord.CreatedDate}
- SLA Target: {!LeadRecord.RES_SLA_Due_Time__c}
- Lead:  {!LeadLink}

Please take immediate action to follow up.
Thanks,
Sales Operations</text>
    </textTemplates>
    <variables>
        <name>Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
