force-app/main/default/flows/RES_AutoLaunchFlow_Notify_User_s_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Manager</name>
        <label>Send Email To Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Emails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>syed.ashraf@globant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead SLA Breach: Requires Immediate Attention</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hello {!User.Name},&lt;/p&gt;&lt;p&gt;The following Lead had exceeded the SLA response time of 24 hours.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead Name:&lt;/strong&gt; &lt;a href=&quot;{!OrgBaseUrl}lightning/r/Lead/{!LeadId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!LeadName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead Owner:&lt;/strong&gt; {!ownerName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Created On:&lt;/strong&gt; {!LeadRecord.CreatedDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;SLA Target:&lt;/strong&gt; {!LeadRecord.RES_SLA_Due_Time__c}&lt;/p&gt;&lt;p&gt;Please take immediate action to follow up.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_Won_Notification</name>
        <label>Send Opportunity Won Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Opportunity_Won_Notification_To_Maneger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>🎉 Closed Won — {!opportunityRecord.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>oppWonNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_Won_Notification_To_Maneger</name>
        <label>Send Opportunity Won Notification To Maneger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Emails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>syed.ashraf@globant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>🎉 Opportunity Closed Won — {!opportunityRecord.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hello {!User.Name},&lt;/p&gt;&lt;p&gt;Congratulations! The following Opportunity has been marked as Closed Won.&lt;/p&gt;&lt;strong&gt;Opportunity Name:&lt;/strong&gt;  &lt;a href=&quot;{!OrgBaseUrl}lightning/r/Opportunity/{!opportunityRecord.Id}/view&quot;&gt;{!opportunityRecord.Name}&lt;/a&gt;&lt;br&gt;&lt;strong&gt;Opportunity Owner:&lt;/strong&gt; {!ownerName}&lt;/br&gt;&lt;br&gt;&lt;strong&gt;Amount:&lt;/strong&gt; {!opportunityRecord.Amount}&lt;/br&gt;&lt;br&gt;&lt;strong&gt;Close Date:&lt;/strong&gt; {!opportunityRecord.CloseDate}&lt;/br&gt;&lt;br&gt;&lt;strong&gt;Stage:&lt;/strong&gt; {!opportunityRecord.StageName}&lt;/br&gt;&lt;p&gt;Please log in to Salesforce to review and take any necessary follow-up actions.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_OverDue_Task_Email_to_Manager</name>
        <label>Send OverDue Task Email to Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Emails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>syed.ashraf@globant.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Overdue Task Reminder: {!TaskRecord.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hello {!User.Name},&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reminder:&lt;/strong&gt; An overdue Task needs attention.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subject:&lt;/strong&gt;  &lt;a href=&quot;{!OrgBaseUrl}lightning/r/Task/{!TaskRecord.Id}/view&quot;&gt;{!TaskRecord.Subject}&lt;/a&gt;&lt;br&gt;&lt;strong&gt;Due Date:&lt;/strong&gt; {!TaskRecord.ActivityDate}&lt;/br&gt;&lt;br&gt;&lt;strong&gt;Task Owner:&lt;/strong&gt; {!ownerName}&lt;/br&gt;&lt;p&gt;Please review the task in Salesforce.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_OverDue_Task_Notification</name>
        <label>Send OverDue Task Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_OverDue_Task_Email_to_Manager</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Overdue_Task_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Overdue Task Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Task &apos;{!TaskRecord.Subject}&apos; is overdue. Due Date: {!TaskRecord.ActivityDate}. Task Owner: {!ownerName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>TaskRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_User_Email_In_Collection</name>
        <label>Add User Email In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Notification_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Notification_Type</name>
        <label>Check Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_Breach_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLABreachNotification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Manager</targetReference>
            </connector>
            <label>SLA Breach Notification</label>
        </rules>
        <rules>
            <name>Opportunity_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OpportunityWonNotification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Opportunity Closed Won</label>
        </rules>
        <rules>
            <name>OverDue_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OverDueTaskNotification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Overdue_Task_Notification</targetReference>
            </connector>
            <label>OverDue Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})-1)  &amp; &quot;/lightning/r/Lead/&quot; &amp;  {!LeadRecord.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>oppLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})-1)  &amp; &quot;/lightning/r/Opportunity/&quot; &amp;  {!opportunityRecord.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>oppWonNotificationBody</name>
        <dataType>String</dataType>
        <expression>{!ownerName} &amp; &quot; has Closed Won &quot; &amp; {!opportunityRecord.Name} &amp; &quot; worth Amount &quot; &amp; TEXT({!opportunityRecord.Amount}) &amp; &quot;. Please review.&quot;</expression>
    </formulas>
    <formulas>
        <name>OrgBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_370}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_370}))</expression>
    </formulas>
    <interviewLabel>RES AutoLaunchFlow - Notify User&apos;s Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RES AutoLaunchFlow - Notify User&apos;s Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Opportunity_Won_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Opportunity_Won_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Overdue_Task_Notification</name>
        <label>Get Overdue Task Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_OverDue_Task_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DIR_Overdue_Task_Escalation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_User_Email_In_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppsAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
