force-app/main/default/flows/RES_Lead_ScreenFlow_Bulk_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>bulk_lead_Conversion</name>
        <label>bulk lead Conversion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RES_LeadMassConversionUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>convertedStatusLabel</name>
            <value>
                <elementReference>$Label.RES_LeadStatus_Qualified</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>doNotCreateOpp</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leads</name>
            <value>
                <elementReference>Leads_to_be_convertable</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RES_LeadMassConversionUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Boolean</name>
        <label>Assign Boolean</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConvertableleadNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Res_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Eligible_Leads</name>
        <label>Not Eligible Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SkippedLeadNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_on_Non_convertible_leads.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasSkippedLeads</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Non_convertible_leads</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Leads_not_convertible</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Leads not convertible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Leads_not_convertible</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Selected_Leads</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Leads_not_convertible.Status</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>04</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Leads_not_convertible.OwnerId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>00G</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>If_Lead_to_Convert_Is_NULL</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Leads_to_be_convertable</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Leads to be convertable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Leads_to_be_convertable</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Selected_Leads</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Leads_to_be_convertable.OwnerId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Leads_to_be_convertable.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>04</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Leads_not_convertible</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Selected_Ids</name>
        <label>Check Selected Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Id_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Ids Found</defaultConnectorLabel>
        <rules>
            <name>Selected_Id_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Leads</targetReference>
            </connector>
            <label>Selected Id Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Role_of_User_and_Profile_and_Flow_Check</name>
        <label>Check the Role of User and Profile and Flow Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>User_Not_Have_Permission_To_Convert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>(1 AND 2) OR (3 AND 1)</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.RES_Config_Switch__c.RES_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.RES_Mass_Convert_Leads</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Selected_Ids</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Lead_to_Convert_Is_NULL</name>
        <label>If Lead to Convert Is NULL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Res_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Leads_to_be_convertable</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Boolean</targetReference>
            </connector>
            <label>Yes, NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CleanErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
$Flow.FaultMessage,
&quot;System.AuraHandledException: &quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ScreenStage</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        NOT({!ConvertableleadNull}),
        NOT({!HasSkippedLeads})
    ),
    &quot;1&quot;,
    IF(
        AND(
            NOT({!ConvertableleadNull}),
            {!HasSkippedLeads}
        ),
        &quot;2&quot;,
        &quot;3&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>RES Lead - ScreenFlow - Bulk Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>RES Lead - ScreenFlow - Bulk Lead Conversion</label>
    <loops>
        <name>Loop_on_Non_convertible_leads</name>
        <label>Loop on Non convertible leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Leads_not_convertible</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Not_Eligible_Leads</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>bulk_lead_Conversion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Res_Record_Types</name>
        <label>Get Res Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Non_convertible_leads</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Company</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RES_Individual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Leads</name>
        <label>Get Selected Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Leads_to_be_convertable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessagae</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(212, 80, 76);&quot;&gt;Lead Conversion Fail Due to: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back to Leads</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Id_Not_Found_Screen</name>
        <label>Id Not Found Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IdsNotFoundScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(212, 80, 76);&quot;&gt;{!$Label.RES_BulkLeadIDNotFoundScreen}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back to Leads</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidSuccessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(75, 202, 129);&quot;&gt;{!$Label.RES_Lead_Conversion_SuccessMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartialSuccessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(75, 202, 129);&quot;&gt;{!$Label.RES_Lead_Conversion_Partial_SuccessMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 183, 93);&quot;&gt;{!$Label.RES_Lead_Conversion_Partial_AlertMessage} {!SkippedLeadNames}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>2</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoSucessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 183, 93);&quot;&gt;{!$Label.RES_Lead_Conversion_Partial_AlertMessage} {!SkippedLeadNames}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Back to Leads</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Not_Have_Permission_To_Convert</name>
        <label>User Not Have Permission To Convert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Permission_Required</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(251, 0, 0);&quot;&gt;{!$Label.RES_RequirePermissionErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back to Leads</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Role_of_User_and_Profile_and_Flow_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConvertableleadNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Leads_not_convertible</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>currentItem_Leads_to_be_convertable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>HasSkippedLeads</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadsToConvert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>PermissionSetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueAssignedLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>SkippedLeadNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
