force-app/main/default/flows/RES_Lead_Before_Insert_Update_Update_Lead_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Change_Previous_Owner</name>
        <label>Change Previous Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RES_Previous_Lead_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Next_Reassignment_Date_NOW_30_days</name>
        <label>Next Reassignment Date: NOW + 30 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RES_Next_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetiredDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RES_To_Check_Salutation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RES_Female_Gender_Assignment</name>
        <label>Female Gender Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.GenderIdentity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GTF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Owner_Changed_from_Queue_To_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RES_Male_Gender_Assignment</name>
        <label>Male Gender Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.GenderIdentity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GTM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Owner_Changed_from_Queue_To_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Run_lead_Assignment</name>
        <label>Run lead Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Assigned.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Lead_Status_Changed_To_Retired</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>RES_Check_Salutation_Error</name>
        <label>Check Salutation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Owner_Changed_from_Queue_To_User</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Kindly select the appropriate salutation based on gender.</errorMessage>
            <fieldSelection>Salutation</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>RES_No_Pre_Selection_Values</name>
        <label>No Pre-Selection Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Owner_Changed_from_Queue_To_User</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Kindly select the appropriate Salutation and Gender</errorMessage>
            <fieldSelection>GenderIdentity</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>If_Lead_Status_Changed_To_Retired</name>
        <label>If Lead Status Changed To Retired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RES_To_Check_Salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Retired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Reassignment_Date_NOW_30_days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Owner_Changed_from_Queue_To_User</name>
        <label>If Owner Changed from Queue To User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Previous_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Queue_is_Not_Null</name>
        <label>If Queue is Not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Lead_Status_Changed_To_Retired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_Assigned</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_lead_Assignment</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Gender_Type_Blank</name>
        <label>Is Gender Type Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Owner_Changed_from_Queue_To_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GenderIdentity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_No_Pre_Selection_Values</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GenderIdentity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Check_Salutation_Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</name>
        <label>Check Flow Switch and RES Lead Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RES_Config_Switch__c.RES_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Assigned</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_To_Check_Salutation</name>
        <label>To Check Salutation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Gender_Type_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pre-Selection</defaultConnectorLabel>
        <rules>
            <name>Male</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mr.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prince</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Male_Gender_Assignment</targetReference>
            </connector>
            <label>Male?</label>
        </rules>
        <rules>
            <name>Female</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ms.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Princess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Female_Gender_Assignment</targetReference>
            </connector>
            <label>Female?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssignmentQueue</name>
        <dataType>String</dataType>
        <expression>IF ( 
OR( ISPICKVAL({!$Record.LeadSource}, &apos;Z06&apos;), ISPICKVAL({!$Record.LeadSource}, &apos;Z04&apos;)),
&apos;RES_DG_Team&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>RetiredDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(
  ISCHANGED({!$Record.Status}),
  IF(
    ISPICKVAL({!$Record.Status},&apos;05&apos;),
    NOW() + 30,
    NULL
  ),
{!$Record.RES_Next_Assignment_Date__c}
)</expression>
    </formulas>
    <interviewLabel>Lead - Before Insert Update - Update Lead Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Before Insert Update - Update Lead Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_Assigned</name>
        <label>Get Queue - Assigned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Queue_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
