force-app/main/default/flows/RES_Send_Email_Notification_After_Opportunity_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Flow_Config_Flag_Record_Type_Check</name>
        <label>Flow Config Flag &amp; Record Type Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_Off_Unchecked</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.RES_Config_Switch__c.RES_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES Residential Single Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record_Type_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES Residential Multi Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Manager</targetReference>
            </connector>
            <label>Flow Off Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Owner_Has_Manager</name>
        <label>IF Owner Has Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_User_s_Manager</targetReference>
            </connector>
            <label>Manager Assign</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ownerNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.FirstName} &amp; &quot; &quot;&amp; {!$Record.Owner.LastName}</expression>
    </formulas>
    <interviewLabel>RES Send Email/Notification After Opportunity Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RES Send Email/Notification After Opportunity Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_Owner_Has_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Name</name>
        <label>Get Record Type Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Config_Flag_Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_User_s_Manager</name>
        <label>Notify User&apos;s Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>RES_AutoLaunchFlow_Notify_User_s_Manager</flowName>
        <inputAssignments>
            <name>NotificationType</name>
            <value>
                <stringValue>OpportunityWonNotification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ownerName</name>
            <value>
                <elementReference>ownerNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User</name>
            <value>
                <elementReference>Get_Manager</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>managerID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
