force-app/main/default/flows/RES_Event_AfterUpdate_Update_Lead_Status_to_Active.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>RES_Set_Lead_Status_to_Active</name>
        <label>Set Lead Status to Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RES_Get_the_Parent_Lead_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RES_Update_Lead_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</name>
        <label>Check Flow Switch and RES Lead Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>RES_Get_the_Parent_Lead_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RES_Get_the_Parent_Lead_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RES_Config_Switch__c.RES_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Check_Lead_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_Check_Lead_Status</name>
        <label>Check Lead Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Status_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RES_Get_the_Parent_Lead_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Set_Lead_Status_to_Active</targetReference>
            </connector>
            <label>Status is &quot;New&quot;</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RES Event AfterUpdate -Update Lead Status to Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RES Event AfterUpdate -Update Lead Status to Active</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RES_Get_the_Parent_Lead_Record</name>
        <label>Get the Parent Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RES_Check_Flow_Switch_and_RES_Lead_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RES_Update_Lead_Status</name>
        <label>Update Lead Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>RES_Get_the_Parent_Lead_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RES_Get_the_Parent_Lead_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
