force-app/main/default/flows/RES_Lead_BeforeUpdate_Update_Lead_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigned_Lead_Status_as_Active</name>
        <label>Assigned Lead Status as &quot;Active&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RES_Get_Lead_Status_Mapping.RES_Target_Lead_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assigned_Lead_Status_as_Qualified</name>
        <label>Assigned Lead Status as &quot;Qualified&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RES_Assign_Target_Lead_Sub_Status</name>
        <label>Assign Target Lead Sub Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RES_Get_Lead_Status_Mapping.RES_Target_Lead_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RES_Update_Lead_Status_as_Qualified</name>
        <label>Update Lead Status as &quot;Qualified&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Active_and_Retired_Status_Mapping</name>
        <label>Check for Active and Retired Status Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RES_Assign_Target_Lead_Sub_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retired Status Mapping</defaultConnectorLabel>
        <rules>
            <name>Active_Status_Mapping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RES_Get_Lead_Status_Mapping.RES_Target_Lead_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Check_If_Postal_Code_and_Identification_Number_is_Present</targetReference>
            </connector>
            <label>Active Status Mapping</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_Check_Flow_Switch_and_RES_Record_Types</name>
        <label>Check Flow Switch and RES Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RES_Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.RES_Config_Switch__c.RES_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Check_Lead_Field_Updates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_Check_If_Postal_Code_and_Identification_Number_is_Present</name>
        <label>Check If Postal Code and Identification Number is Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigned_Lead_Status_as_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fields Are Empty</defaultConnectorLabel>
        <rules>
            <name>Yes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RES_Identification_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Lead_Status_as_Qualified</targetReference>
            </connector>
            <label>Yes, Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_Check_Lead_Field_Updates</name>
        <label>Check Lead Field Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Sub_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RES_Lead_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Get_Lead_Status_Mapping</targetReference>
            </connector>
            <label>Lead Sub Status Changed</label>
        </rules>
        <rules>
            <name>Address_and_Identification_Number_Changes</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RES_Identification_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RES_Identification_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RES_Update_Lead_Status_as_Qualified</targetReference>
            </connector>
            <label>Address and Identification Number Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RES_Mapping_Found</name>
        <label>Mapping Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RES_Get_Lead_Status_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Active_and_Retired_Status_Mapping</targetReference>
            </connector>
            <label>Yes, Match Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RES Lead BeforeUpdate -Update Lead Status to Active and R {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RES Lead BeforeUpdate -Update Lead Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RES_Get_Lead_Status_Mapping</name>
        <label>Get Lead Status Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RES_Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RES_Sub_Status_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RES_Lead_Sub_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RES_Lead_Status_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RES_Check_Flow_Switch_and_RES_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
