force-app/main/default/flows/RES_Autolaunched_Flow_Update_lead_Owner_to_Proposed_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Record_Rejected</name>
        <label>Record Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadRecord.RES_Proposed_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadRecord.RES_Approval_Request_Remarks__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Proposed_User_Remark</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Proposed_Owner_Owner</name>
        <label>Update Lead Proposed Owner &amp; Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadRecord.RES_Proposed_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadRecord.RES_Proposed_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadRecord.RES_Approval_Request_Remarks__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Action_Is_Update_Record</name>
        <label>If Action Is Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Lead_Owner_To_Proposed_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateRecord</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Proposed_Owner_Owner</targetReference>
            </connector>
            <label>Update Lead Owner To Proposed Owner</label>
        </rules>
        <rules>
            <name>If_Action_is_Recall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Proposed_Owner_to_Null</targetReference>
            </connector>
            <label>If Action is Recall</label>
        </rules>
        <rules>
            <name>Action_reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Rejected</targetReference>
            </connector>
            <label>Action: reject</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Autolaunched Flow - Update lead Owner to Proposed Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched Flow - Update lead Owner to Proposed Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Proposed_Owner_to_Null</name>
        <label>Update Lead Proposed Owner to Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RES_Proposed_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RES_Approval_Request_Remarks__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <inputAssignments>
            <field>RES_Approval_Request_Remarks__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RES_Proposed_User__c</field>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>LeadRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proposed_User_Remark</name>
        <label>Update Proposed User &amp; Remark</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>LeadRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Action_Is_Update_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Either &quot;Recall&quot; or &quot;UpdateRecord&quot;.</description>
        <name>action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
