force-app/main/default/flows/RES_Autolaunched_Flow_Update_lead_Owner_to_Proposed_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Lead_Proposed_Owner_Owner</name>
        <label>Update Lead Proposed Owner &amp; Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadRecord.RES_Proposed_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadRecord.RES_Proposed_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Autolaunched Flow - Update lead Owner to Proposed Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched Flow - Update lead Owner to Proposed Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>LeadRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead_Proposed_Owner_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
